<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cards of the client">
    <title>Apply for Loans</title>
    <link rel="shortcut icon" href="./images/banklogo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Fira+Sans&family=Rajdhani:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="./trasnfer.css">
</head>

<body>
    <div id="app">
        <header class="d-flex flex-column align-items-center justify-content-center gap-3 col-12">
            <div class="col-12 z-3">
                <div class="navbar col-12 d-flex justify-content-center gap-5">
                    <a href="#" class="navbar__item -purple">
                        <span class="navbar__icon d-flex align-items-center justify-content-center flex-column">
                            <i class="bi bi-house"></i>
                            <span class="fs-6">Home</span>
                        </span>

                    </a>
                    <a href="./loanapp.html" class="navbar__item -purple">
                        <span class="navbar__icon d-flex align-items-center justify-content-center flex-column">
                            <i class="bi bi-cash-coin"></i>
                            <span class="fs-6">Loans</span>
                        </span>
                    </a>
                    <a href="./transactions.html" class="navbar__item -purple">
                        <span class="navbar__icon d-flex align-items-center justify-content-center flex-column">
                            <i class="bi bi-arrow-left-right"></i>
                            <span class="fs-6">Transactions</span>
                        </span>
                    </a>
                    <a href="./accounts.html" class="navbar__item -purple">
                        <span class="navbar__icon d-flex align-items-center justify-content-center flex-column">
                            <i class="bi bi-people-fill "></i>
                            <span class="fs-6">Accounts</span>
                        </span>
                    </a>
                    <div>
                        <a href="./cards.html" class="navbar__item -purple">
                            <span class="navbar__icon d-flex align-items-center justify-content-center flex-column">
                                <i class="bi bi-credit-card"></i>
                                <span class="fs-6">Cards</span>
                            </span>
                        </a>
                    </div>
                    <div class="ms-5 ps-5">
                        <a href="/api/logout" class="navbar__item -red">
                            <span class="navbar__icon d-flex align-items-center justify-content-center flex-column">
                                <i class="bi bi-box-arrow-right"></i>
                                <span class="fs-6">Logout</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <h1>Loan Application</h1>
            <section class="d-flex justify-content-center align-items-start flex-column col-12 mb-5">
                <article class="d-flex justify-content-end flex-column pb-4">
                    <h4>Apply to get the loan you need!</h4>
                    <h5>Available Loans:</h5>
                </article>
            </section>
            <section class="col-12 ps-3 ms-3">
                <article class="loanForm col-8 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-light">Select Loan</h3>
                    <div>
                        <select class="selectAcc" name="loans" id="loans" v-model="loanSelect">
                            <option disabled>Select Loan</option>
                            <template v-for="loan of loans">
                                <option :value="loan">{{loan.name}}</option>
                            </template>
                        </select>
                    </div>
                    <label class="text-light" for="">Set the amount</label>
                    <input class="col-7 selectAcc" type="number" name="amount" id="amount" v-model="amount">
                    <label class="text-light" for="accountSelect">Select account Destiny</label>
                    <select id="accountDest" name="accountDest" v-model="accountSelect" class="col-7 selectAcc mb-3">
                        <option disabled>Select the account destiny</option>
                        <template v-for="account of accountDest">
                            <option :value="account.number">{{account.number}}</option>
                        </template>
                    </select>
                    <label for="payments" class="text-light">Select the Payments</label>
                    <select class="col-7 selectAcc mb-5" name="payments" id="payments" v-model="payments">
                        <option disabled>Select the payments</option>
                        <template v-for="loan of loanSelect.payments">
                            <option :value="loan">{{loan}}</option>
                        </template>
                    </select>
                    <button class="col-5 mb-5 btn btn-primary" @click.prevent="appLoan">Apply!</button>
                </article>
            </section>

        </main>
        <footer></footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./loanapp.js"></script>
</body>

</html>